In [1]:
import pandas as pd

In [8]:
dict1 = {
    "day" : ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017','1/7/2017'],
    "temperature":[32,43,36,76,87,67,85],
    "windspeed":[6,7,4,9,3,5,2],
    "event": ['rain','sunny','snow','snow','rain','sunny','snow']
}
dict1

{'day': ['1/1/2017',
  '1/2/2017',
  '1/3/2017',
  '1/4/2017',
  '1/5/2017',
  '1/6/2017',
  '1/7/2017'],
 'temperature': [32, 43, 36, 76, 87, 67, 85],
 'windspeed': [6, 7, 4, 9, 3, 5, 2],
 'event': ['rain', 'sunny', 'snow', 'snow', 'rain', 'sunny', 'snow']}

In [9]:
df = pd.DataFrame(dict1)

In [10]:
df.to_csv('weather_data.csv')

In [11]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           43          7  sunny

In [12]:
df.tail()

        day  temperature  windspeed  event
2  1/3/2017           36          4   snow
3  1/4/2017           76          9   snow
4  1/5/2017           87          3   rain
5  1/6/2017           67          5  sunny
6  1/7/2017           85          2   snow

In [13]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           36          4  snow
3  1/4/2017           76          9  snow
4  1/5/2017           87          3  rain

In [14]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
df.event

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
6     snow
Name: event, dtype: object

In [16]:
df['temperature']

0    32
1    43
2    36
3    76
4    87
5    67
6    85
Name: temperature, dtype: int64

In [17]:
df['temperature'].max()

87

In [18]:
df['windspeed'].mean()

5.142857142857143

In [19]:
df.describe()

       temperature  windspeed
count     7.000000   7.000000
mean     60.857143   5.142857
std      23.462229   2.410295
min      32.000000   2.000000
25%      39.500000   3.500000
50%      67.000000   5.000000
75%      80.500000   6.500000
max      87.000000   9.000000

In [21]:
df[df.temperature >= 50]

        day  temperature  windspeed  event
3  1/4/2017           76          9   snow
4  1/5/2017           87          3   rain
5  1/6/2017           67          5  sunny
6  1/7/2017           85          2   snow

In [24]:
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed event
4  1/5/2017           87          3  rain

In [25]:
df[df.windspeed == df['windspeed'].min()]

        day  temperature  windspeed event
6  1/7/2017           85          2  snow

In [26]:
df.T

,0,1,2,3,4,5,6
day,1/1/2017,1/2/2017,1/3/2017,1/4/2017,1/5/2017,1/6/2017,1/7/2017
temperature,32,43,36,76,87,67,85
windspeed,6,7,4,9,3,5,2
event,rain,sunny,snow,snow,rain,sunny,snow

In [27]:
df.index

RangeIndex(start=0, stop=7, step=1)